<h1>Recipe information</h1>
<h2>Title: <%= @recipe.title %></h2>
<h4>Chef: <%= @recipe.chef %></h4>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Directions: <%= @recipe.directions %></p>
<p>Prep time: <%= @recipe.prep_time %></p>
<a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a>
<a href="/recipes">All recipes</a>